.navbar {
  width: 15%;
  height: 100vh;
  border-right: 1px solid #eaeaea;
  position: sticky;
  transition: all 0.1s ease-in-out;
  background-color: #ffffff;
  top: 0;
}

.navbarCollapsed {
  width: 60px;
  padding-top: 1.2rem;
  border-right: 1px solid #eaeaea;
  position: sticky;
  height: calc(100vh - 1.2rem);
}

.navbarCollapsed .logo {
  padding: 0.8rem 0.5rem;
}

.navbarCollapsed .linkItem p,
.navbarCollapsed .linkItemChild p {
  display: none;
}

.logo {
  padding: 0.8rem 1.2rem;
}

.arrow {
  position: absolute;
  right: -15px;
  top: 30px;
  border-radius: 100%;
  z-index: 10;
  box-shadow: 5px 5px 7px -2px rgba(0, 0, 0, 0.1);
  padding: 6px 6px 0px 6px;
  background: white;
}

.linkItem {
  font-size: 14px;
  display: flex;
  gap: 6px;
  color: #afafaf;
  cursor: pointer;
  padding: 0.7rem 1.2rem;
  position: relative;
}
.linkItem.selected,
.linkItem:hover {
  background-color: #eafeef;
  color: #26b44d;
}

.linkItem.selected::before,
.linkItem:hover::before {
  left: 0%;
  top: 0px;
  position: absolute;
  height: 100%;
  border-left: 5px solid #26b44d;
  content: "";
}

.linkItem img {
  filter: invert(88%) sepia(0%) saturate(0%) hue-rotate(243deg) brightness(82%)
    contrast(84%);
}

.linkItem.selected img,
.linkItem:hover img {
  filter: invert(47%) sepia(93%) saturate(413%) hue-rotate(84deg)
    brightness(100%) contrast(86%);
}

.divider {
  border-bottom: 1px solid #eaeaea;
  width: 80%;
  margin: 10px auto;
}

.arrowLine {
  position: absolute;
  width: 14px;
  height: 20px;
  border-left: 1px solid #26b44d;
  border-bottom: 1px solid #26b44d;
  border-bottom-left-radius: 5px;
  top: 2px;
  left: 3px;
}

.linkItemChild {
  font-size: 14px;
  display: flex;
  gap: 6px;
  color: #afafaf;
  cursor: pointer;
  padding: 0.7rem 1.2rem;
}

.linkItemChild.selected,
.linkItemChild:hover {
  color: #26b44d;
}

.linkItemChild img {
  filter: invert(88%) sepia(0%) saturate(0%) hue-rotate(243deg) brightness(82%)
    contrast(84%);
}

.linkItemChild.selected img,
.linkItemChild:hover img {
  filter: invert(47%) sepia(93%) saturate(413%) hue-rotate(84deg)
    brightness(100%) contrast(86%);
}

.navWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 110px);
}

.avatars {
  display: flex;
  position: relative;
  width: 80px;
  top: 0px;
  margin-left: 18px;
}

.avatars img {
  position: absolute;
}

.quantity {
  margin-left: 4px;
  font-size: 10px;
  font-weight: normal;
  border: 1px solid #26b44d;
  background-color: #eafeef;
  padding: 5px;
  border-radius: 100%;
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 0;
  color: #26b44d;
  margin-top: -5px;
}

.navbarCollapsed .quantity {
  display: none;
}

.collapseArrow {
  margin-left: auto;
  margin-right: 0;
}

.navbarCollapsed .collapseArrow {
  display: none;
}
